groq
fastapi
uvicorn
python-dotenv
openai
pymongo
bcrypt
PyJWT
chromadb
langchain-text-splitters
langchain-community
pypdf
# sentence-transformers (REMOVED to save ~300MB RAM, using OpenAI instead)
python-multipart
gTTS
SpeechRecognition
googletrans-py
google-cloud-storage